doctype html
html(lang="en")
    head
        include ../modules/head
    body
        .wrapper
            .wrapper-bg 
                include ../modules/header
                include ../modules/first-screen
                include ../modules/second-screen
                include ../modules/reviews
                include ../modules/modal

        include ../modules/scripts
                        