block first-screen 
    .container
        .first-screen
            span.description OPEN EVERYDAY 6AM - 9PM
            h1.title A bad day with lunch is better than a good day without it.
            .first-screen-footer
                button#btn-open.btn Reserve a table
                .social-media-buttons
                    a(href="#").social-media-button Fb
                    a(href="#").social-media-button Ig
                    a(href="#").social-media-button Tw
                    a(href="#").social-media-button Yt