block header
    header.header
        .container
            .mobile-block 
                .logo.logo-mobile 
                    img(src="./img/logo.png", alt="")
                button.btn-mobile 
                    img.btn-mobile__img(src="./img/list.svg", alt="menu") 
            .header-wrapper
                button.btn-close-mobile 
                    img.btn-close__img(src="./img/x-lg.svg", alt="close")
                .logo 
                    img(src="./img/logo.png", alt="")
                .menu 
                    ul.nav
                        li.nav__item 
                            a.nav__link(href="#")  À la carte
                        li.nav__item 
                            a.nav__link(href="#")  Wijnkaart
                        li.nav__item 
                            a.nav__link(href="#")  Lunchmenu
                        li.nav__item 
                            a.nav__link(href="#")  Contact
                .tel 
                    img.tel__img(src="./img/tel.svg", alt="")
                    a.tel__link(href="tel:++32 9 282 57 25") +32 9 282 57 25

        