block reviews 
    section.reviews
        .container 
            .reviews-wrapper
                .reviews-slider.swiper
                    .swiper-wrapper
                        .swiper-slide
                            .reviews-img 
                                img.reviews-img__img(src="./img/1.svg", alt="")
                            h3.reviews__title Goede service, lekker eten, toffe ambiance
                            .reviews__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                            .reviews__name ALAIN HEYNDRICKX
                        .swiper-slide
                            .reviews-img 
                                img.reviews-img__img(src="./img/1.svg", alt="")
                            h3.reviews__title Goede service, lekker eten, toffe ambiance
                            .reviews__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                            .reviews__name ALAIN HEYNDRICKX
                        .swiper-slide
                            .reviews-img 
                                img.reviews-img__img(src="./img/1.svg", alt="")
                            h3.reviews__title Goede service, lekker eten, toffe ambiance
                            .reviews__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                            .reviews__name ALAIN HEYNDRICKX

                .swiper-button-prev
                .swiper-button-next