section.info 
    .container
        .info-content 
            .info-blocks 
                .info-block
                    .info-block__title Woensdag 12/01
                    .info-block-content 
                        span.info-block-content__text Salade met Serrano
                        .circle-wrapper
                            .circle
                            .circle
                            .circle
                        span.info-block-content__text.text-mobile Steak Tartaar
                .info-block
                    .info-block__title Donderdag 13/01
                    .info-block-content 
                        span.info-block-content__text Toast Roquefort
                        .circle-wrapper
                            .circle
                            .circle
                            .circle
                        span.info-block-content__text.text-mobile Penne met Kip en Prei
                .info-block
                    .info-block__title Vrijdag 14/01
                    .info-block-content 
                        span.info-block-content__text Verrassing van de Chef
                        .circle-wrapper
                            .circle
                            .circle
                            .circle
                        span.info-block-content__text.text-mobile Penne met Kip en Prei
                .info-block
                    .info-block__title Vrijdag 15/01
                    .info-block-content 
                        span.info-block-content__text Verrassing van de Chef
                        .circle-wrapper
                            .circle
                            .circle
                            .circle
                        span.info-block-content__text.text-mobile Penne met Kip en Prei
                .info-block
                    .info-block__title Vrijdag 16/01
                    .info-block-content 
                        span.info-block-content__text Verrassing van de Chef
                        .circle-wrapper
                            .circle
                            .circle
                            .circle
                        span.info-block-content__text.text-mobile Penne met Kip en Prei
            .info-block-img 
                .info-block-img__item 
                .info-block-img__wrapper
                    img.info-block-img__bottom(src="../img/1.png", alt="")
                .info-block-img__wrapper
                    img.info-block-img__top(src="../img/2.png", alt="")
                
